SmallRss.Web/Service References/ServiceApi/smallrss.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://smallrss" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://smallrss" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://smallrss/Imports">
      <xsd:import schemaLocation="http://localhost:8900/smallrss?xsd=xsd0" namespace="http://smallrss" />
      <xsd:import schemaLocation="http://localhost:8900/smallrss?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SmallRss.Api_RefreshAllFeeds_InputMessage">
    <wsdl:part name="parameters" element="tns:RefreshAllFeeds" />
  </wsdl:message>
  <wsdl:message name="SmallRss.Api_RefreshAllFeeds_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshAllFeedsResponse" />
  </wsdl:message>
  <wsdl:message name="SmallRss.Api_RefreshFeed_InputMessage">
    <wsdl:part name="parameters" element="tns:RefreshFeed" />
  </wsdl:message>
  <wsdl:message name="SmallRss.Api_RefreshFeed_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshFeedResponse" />
  </wsdl:message>
  <wsdl:portType name="SmallRss.Api">
    <wsdl:operation name="RefreshAllFeeds">
      <wsdl:input wsam:Action="http://smallrss/SmallRss.Api/RefreshAllFeeds" message="tns:SmallRss.Api_RefreshAllFeeds_InputMessage" />
      <wsdl:output wsam:Action="http://smallrss/SmallRss.Api/RefreshAllFeedsResponse" message="tns:SmallRss.Api_RefreshAllFeeds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshFeed">
      <wsdl:input wsam:Action="http://smallrss/SmallRss.Api/RefreshFeed" message="tns:SmallRss.Api_RefreshFeed_InputMessage" />
      <wsdl:output wsam:Action="http://smallrss/SmallRss.Api/RefreshFeedResponse" message="tns:SmallRss.Api_RefreshFeed_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>